# Python Interview Preparation - Revision Notes

In [5]:
#Memory address of the variable
S=20
hex(id(S))
# type(S)

'0x7ff9f17b3980'

In [8]:
#Complex data type
import sys
val3 = 125 + 190j 
print(val3)
print(type(val3))                                      # type of object
print(sys.getsizeof(val3))                             # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of complex class

(125+190j)
<class 'complex'>
32
(125+190j)  is complex? True

In [11]:
str = 'Hello Python'
print(str)

#Strings are immutable which means elements of a string cannot be changed once they have been assigned.
str[0:4] : 'Rite'
print(str)

Hello Python
Hello Python

In [12]:
##Enumerate method adds a counter to an iterable and returns it in a form of enumerate object
mystr1 = "Hello Everyone, Welcome."
list(enumerate(mystr1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e'),
 (14, ','),
 (15, ' '),
 (16, 'W'),
 (17, 'e'),
 (18, 'l'),
 (19, 'c'),
 (20, 'o'),
 (21, 'm'),
 (22, 'e'),
 (23, '.')]

In [13]:
#String Partitioning: The partition( ) method searches for a specified string, and splits the string into a tuple containing three elements.
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [17]:
mystr2 = " Hello Everyone, Welcome. "
#Removing white space  --- strip function
mystr2.strip()  # Removing white space from begining & end

'Hello Everyone, Welcome.'

In [18]:
mystr2.rstrip() #Removing all whitespaces at the end of the string

' Hello Everyone, Welcome.'

In [19]:
mystr2.lstrip()   #Removing all whitespaces at the begining of the string

'Hello Everyone, Welcome. '

In [20]:
mystr2 = " Hello, Welcome "
#Remove all whitespaces using replace function
mystr2.replace(" " , "")

'Hello,Welcome'

In [22]:
mystr5 = "one two Three one two two three"
#Number of times substring "one" occurred in string
mystr5.count("one")

2

### From Youtube Python

In [24]:
#Zip Function
# It allows us to loop over two functions at once ( enumerate for index and its value for same list)
names = ['Ritesh','Ravindra','Rachana','Kapse']
heroes = ['spiderman','superman','ironman','hanuman']

for name, hero in zip(names,heroes):
    print(f'{name} is actually {hero}')

Ritesh is actually spiderman
Ravindra is actually superman
Rachana is actually ironman
Kapse is actually hanuman

### Set attribute and get attribute

In [25]:
class Person():
    pass

person = Person()

first_key = 'first'
first_val = 'Corey'

setattr(person,first_key,first_val)

first = getattr(person,first_key)
print(first)

Corey

In [28]:
class Person():
    pass

person = Person()

person_info = {'first':'Corey','last':'Schafer'}

for key,value in person_info.items():
    setattr(person,key,value)

# print(person.first)
# print(person.last)
    
for key in person_info.keys():
    print(getattr(person,key))

Corey
Schafer

### List Operations

In [30]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [31]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten']

In [32]:
mylist.clear()             # Empty List / Delete all items in the list
mylist

[]

In [33]:
#Join Lists

list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']
list3 = list1 + list2                 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [34]:
list1.extend(list2)                    # Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [35]:
list1.reverse()              # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [36]:
list1 = list1[::-1]          # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [40]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()               # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [41]:
mylist3.sort(reverse=True)                   # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

#### List Comprehensions:

In [42]:
mylist2 = [ i for i in range(40) if i % 2 == 1]     # Display all odd numbers between 0 - 40 using List Comprehension
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [43]:
mylist3 = [num*num for num in range(10)]             # calculate square of all numbers between 0 - 10 using List Comprehension
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehension

mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [ ]:
# Odd even test

l1 = [print("{} is Even Number".format(i)) if i%2==0 else print("{} is odd number".format(i)) for i in range(10)]

In [46]:
# Extract numbers from a string

mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
num = [i for i in mystr if i.isdigit()]
num

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [48]:
# Extract letters from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
num = [i for i in mystr if i.isalpha()]
# num

### Tuples

1. Tuple are similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

In [49]:
#Tuple Indexing and slicing are almost same as per list slicing with square brackets
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
mytuple[-3:]    # Return last three items

('six', 'seven', 'eight')

#### Note : Tuples are immutable which means we can't DELETE tuple items
#### Tuples are immutable which means we can't CHANGE tuple items
#### Deleting entire tuple object is possible

In [54]:
# del mytuple[0] -- error
# mytuple[0] = 1   -- error
# del mytuple -- this is valid and possible

In [55]:
#Index Position
mytuple.index('five')

4

In [56]:
mytuple2 = (43, 67, 99, 12, 6, 90, 67)
sorted(mytuple2)                # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [57]:
sorted(mytuple2, reverse=True)  # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

### Sets
1. Unordered & Unindexed collection of items.
2. Set elements are unique. Duplicate elements are not allowed.
3. Set elements are immutable (cannot be changed).
4. Set itself is mutable. We can add or remove items from it.

In [58]:
my_set = {1,1,2,2,3,4,5,5}
my_set            # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [59]:
myset2 = {'PAVANI' , 'AKHIL' , 'NAVEEN'}          # Set of Strings
myset2

{'AKHIL', 'NAVEEN', 'PAVANI'}

#### set doesn't allow mutable items like lists

In [ ]:
myset3 = {10,20, "Hola", [11, 22, 32]} 
myset3   -- this gives an error

In [60]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset.add('NINE')         # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [61]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])             # Add multiple item to a set using update() method
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset.remove('NINE')             # remove item in a set using remove() method
myset.discard('TEN')             # remove item from a set using discard() method
myset.clear()                    # Delete all items in a set

In [63]:
id(myset2)  #id gives address of variable stored in memory

1654370084224

In [64]:
#Union
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}
A | B        # Union of A and B (All elements from both sets. NO DUPLICATES)
# A.union(B)                  # Union of A and B
# A.union(B, C)               # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
"""
Updates the set calling the update() method with union of A, B & C.
For below example Set A will be updated with union of A, B & C.
"""
A.update(B,C)
A

In [65]:
#Intersection
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A & B                # Intersection of A and B (Common items in both sets)
# A.intersection(B)  #Intersection of A and B

{4, 5}

In [66]:
#Difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A - B                  # set of elements that are only in A but not in B
#A.difference(B)       # Difference of sets

{1, 2, 3}

In [68]:
#Symmetric Difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A ^ B        # Symmetric difference (Set of elements in A and B but not in both. "EXCLUDING THE INTERSECTION").
#A.symmetric_difference(B)         # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

### Builtin functions

In [69]:
A = {1,2,3,4,5}
sum(A)
max(A)
min(A)
len(A)
list(enumerate(A))
D = sorted(A, reverse=True)
sorted(D)

[1, 2, 3, 4, 5]

### Dictionary
1. Dictionary is a mutable data type in Python.
2. A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
3. Keys must be unique in a dictionary, duplicate values are allowed.

In [71]:
mydict = {1:'one' , 'A':'two' , 3:'three'}           # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [74]:
mydict.keys()         # Return Dictionary Keys using keys() method
mydict.values()       # Return Dictionary Values using values() method
mydict.items()        # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [75]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'PAVANI' , 'Age' :20}, 'B':('Bat' , 'cat' , 'hat')}      # dictionary with mixed keys
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'PAVANI', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [76]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10, 20, 30]
mydict3 = dict.fromkeys(keys, value)                # Create a dictionary from a sequence of keys with value list
mydict3

{'c': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30]}

In [77]:
#Accessing Items
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict[1]               # Access item using key..here dont get confused with index . Its key here

'one'

In [78]:
mydict.get(1)          # Access item using get() method\

'one'

In [79]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1, 2, 3, 4, 5]
mydict = {k:v for (k,v) in zip(key,value)}              # using dict comprehension to create dictionary
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [80]:
#Arithmetic Operator
a = 5
b = 2
# Division(floor)
c = a // b
print('Floor division of {} by {} will give :- {}\n'.format(a, b, c))

Floor division of 5 by 2 will give :- 2

## Functions

A function is a block of organized code written to carry out a specified task, helps to break our program into smaller and modular chunks for better readability.¶
1. Information can be passed into a function as arguments.
2. Parameters are specified after the function name inside the parentheses.
3. We can add as many parameters as we want. Parameters must be separated with a comma.
4. A function may or may not return data.
5. In Python a function is defined using the "def" keyword

Parameter VS Argument:
1. A parameter is the variable listed inside the parentheses in the function definition.
2. An argument is the value that is sent to the function when it is called.

Three types of functions in Python:
1. Built-in function :- Python predefined functions that are readily available for use like min() , max() , sum() , print() etc.
2. User-Defined Functions:- Function that we define ourselves to perform a specific task.
3. Anonymous functions : Function that is defined without a name. Anonymous functions are also called as lambda functions. They are not declared with the def keyword.¶

In [ ]:
Explain Sql Injection

SQL injection is a code injection technique that might destroy your database. 
SQL injection is one of the most common web hacking techniques.
SQL injection is a code injection technique used to attack data-driven applications, in which malicious SQL statements are inserted into an entry field for execution.